*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}
.card{
    background-color: rgb(224, 224, 224);
    width: 300px;
    height: 560px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 50px auto;
    border-radius: 6px;
    padding-top: 6px;
}
.content{
    background-color: white;
    width: 91%;
    margin: 10px;
    padding: 16px; 
    margin-top:0; 
}
.img-box{
    width: 91%;
    height: 200px;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 10px;
    
}
.content footer{
    margin-top: 18px;
    color: grey;
}
.line-above{
    border: 1px solid rgb(240, 235, 235);
    margin-top: 16px;
}
.content h2{
    color: rgb(90, 89, 89);
}
.content p{
    color: rgb(97, 96, 96);
}

/*Styling second card*/

.card2{
    display: flex;
    background-color: rgb(224, 224, 224);
    width: 400px;
    height: 500px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 50px auto;
    border-radius: 6px;
    padding-top: 6px;
}
.main-content{
    border-top: 5px solid rgb(94, 159, 233);
    background-color: white;
    width: 95%;
    height: 900px;
    margin: 10px;
    padding: 16px;  
}
.outer{
    border: 2px solid rgb(150, 139, 139);
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: flex;
    margin: auto;
    border-radius: 50%;
}
.img-circle{
    width: 200px;
    height: 200px;
    margin: auto;
}
.img-circle img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    display: flex;
    margin: 8px auto;
    border-radius: 50%;
}
.text h3, h3+p{
    text-align: center; 
}
.text p{
    color: rgb(104, 102, 102);
}
.line{
    border-top: 1px solid #e7e3e3;
}
.stat{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e7e3e3;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 500;
}
.numbers{
    color: rgb(55, 157, 175);
}
button{
    padding: 16px;
    background-color: rgb(100, 171, 218);
    color: #ffffff;
    width: 350px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 16px;
    
}
